In [2]:
import pandas as pd

df = pd.read_csv("./survey_data_after.csv", encoding='euc-kr')

In [3]:
df

     성별  휴양  자연경관  문화유산  액티비티  쇼핑  공연  전시물                       희망
0    여성   4     2     2     4   4   3    3                문화유산, 전시물
1    남성   5     3     5     3   1   2    5                문화유산, 전시물
2    여성   5     4     3     2   3   2    2                 휴양, 자연경관
3    여성   5     2     2     4   3   3    3             휴양, 액티비티, 쇼핑
4    남성   5     5     2     5   3   3    5  휴양, 자연경관, 문화유산, 쇼핑, 전시물
..   ..  ..   ...   ...   ...  ..  ..  ...                      ...
152  여성   5     5     3     2   3   5    5                   휴양, 쇼핑
153  남성   5     4     3     5   1   1    1               자연경관, 액티비티
154  여성   5     5     5     5   5   3    5                     자연경관
155  남성   4     5     4     4   3   4    4                     액티비티
156  남성   2     2     2     4   4   4    1                     액티비티

[157 rows x 9 columns]

In [4]:
import numpy as np

gender_data = df.loc[:, '성별']
want_data = df.loc[:, '희망']

personal_data = np.zeros(shape = (gender_data.size, 7))

for i in range(gender_data.size):
    for j in range(1, df.loc[i].size - 1):
        personal_data[i][j-1] = df.iloc[i][j]
personal_data /= 5

In [5]:
want_hot_vec = np.zeros(shape = (want_data.size, 7))
want_dic = {'휴양':0, '자연경관':1, '문화유산': 2, '액티비티':3, '쇼핑':4, '공연':5, '전시물':6}

for i, data in zip(range(want_data.size), want_data):
    cat = data.split(', ')
    for j in range(len(cat)):
        want_hot_vec[i][want_dic[cat[j]]] = 1

In [6]:
input_arr = []
for i in range(gender_data.size):
    input_arr.append(0 if gender_data[i] == '여성' else 1)
    input_arr[i] +=  want_hot_vec[i]

In [7]:
new_df = pd.DataFrame(columns = ['input_data', 'want_hot_vec'])
for i in range(gender_data.size):
    new_df.loc[i] = [input_arr, want_hot_vec[i]]

In [8]:
new_df.to_csv("./survey_norm.csv", index = False)