In [1]:
import pandas as pd

df = pd.read_csv("./survey_data_after.csv", encoding='euc-kr')

In [2]:
df

     성별  휴양  자연경관  문화유산  액티비티  쇼핑  공연  전시물                  경험
0    남성   5     4     4     3   3   3    4                문화유산
1    남성   3     3     3     5   4   4    3                문화유산
2    여성   5     5     4     4   3   5    4       문화유산, 쇼핑, 전시물
3    여성   5     1     1     5   3   3    1                  쇼핑
4    남성   5     5     4     5   5   5    5                  쇼핑
..   ..  ..   ...   ...   ...  ..  ..  ...                 ...
144  남성   4     5     4     3   2   2    2      휴양, 자연경관, 액티비티
145  남성   3     4     1     4   2   5    5      휴양, 자연경관, 액티비티
146  여성   4     5     4     5   2   4    4  휴양, 자연경관, 액티비티, 쇼핑
147  여성   4     4     3     3   4   4    3             휴양, 전시물
148  여성   5     3     4     1   4   2    5             휴양, 전시물

[149 rows x 9 columns]

In [3]:
import numpy as np

gender_data = df.loc[:, '성별']
exp_data = df.loc[:, '경험']

personal_data = np.zeros(shape = (gender_data.size, 7))

for i in range(gender_data.size):
    for j in range(1, df.loc[i].size - 1):
        personal_data[i][j-1] = df.iloc[i][j]
personal_data /= 5

In [59]:
new_cat_vec = np.zeros(shape = (exp_data.size))
A_cnt, B_cnt, etc_cnt = 0, 0, 0;
data_weight = {'휴양':0.1,'자연경관':-0.05, '문화유산' : -0.25, '액티비티':-0.4, '쇼핑':0.25, '공연':0.6, '전시물':0.7}
for i, data in zip(range(exp_data.size), exp_data):
    data_cat = {'휴양':0,'자연경관':0, '문화유산' : 0, '액티비티':0, '쇼핑':0, '공연':0, '전시물':0}
    weight_sum = 0
    for cat in data.split(','):
        data_cat[cat.replace(" ", '')]+=1
        weight_sum += data_weight[cat.replace(" ", '')]
        '''
    if data_cat['자연경관'] + data_cat['문화유산'] + data_cat['액티비티'] > data_cat['휴양'] + data_cat['전시물'] + data_cat['쇼핑'] + data_cat['공연']:
        new_cat_vec[i][0] = 1
    elif data_cat['자연경관'] + data_cat['문화유산'] + data_cat['액티비티'] < data_cat['휴양'] + data_cat['전시물'] + data_cat['쇼핑'] + data_cat['공연']:
        new_cat_vec[i][1] = 1
    else:
        new_cat_vec[i][2] = 1
        print(data, weight_sum)
        '''
    if weight_sum < 0:
        A_cnt += 1
        new_cat_vec[i] = 0
        #print('is A', data, new_cat_vec[i])
    elif weight_sum > 0:
        B_cnt += 1
        new_cat_vec[i] = 1
        #print('is B', data, new_cat_vec[i])
    else:
        etc_cnt += 1
        print('zero case', data)
        #print(data, new_cat_vec[i])
print(A_cnt, B_cnt, etc_cnt)

64 85 0

In [60]:
new_cat_vec.size/2

74.5

In [61]:
input_arr = []
for i in range(gender_data.size):
    input_arr.append(personal_data[i].copy())
    input_arr[i] = np.append(input_arr[i], 0 if gender_data[i] == '여성' else 1)

In [62]:
new_df = pd.DataFrame(columns = ['input_data', 'exp_data'])
for i in range(gender_data.size):
    new_df.loc[i] = [input_arr[i], new_cat_vec[i]]

In [63]:
new_df.to_csv("./survey_norm.csv", index = False)

In [64]:
print(A_cnt, B_cnt, etc_cnt)

64 85 0