In [7]:
import pandas as pd

df = pd.read_csv("./survey_data_after.csv", encoding='euc-kr')

In [8]:
df

     성별  휴양  자연경관  문화유산  액티비티  쇼핑  공연  전시물                  경험
0    남성   5     4     4     3   3   3    4                문화유산
1    남성   3     3     3     5   4   4    3                문화유산
2    여성   5     5     4     4   3   5    4       문화유산, 쇼핑, 전시물
3    여성   5     1     1     5   3   3    1                  쇼핑
4    남성   5     5     4     5   5   5    5                  쇼핑
..   ..  ..   ...   ...   ...  ..  ..  ...                 ...
144  남성   4     5     4     3   2   2    2      휴양, 자연경관, 액티비티
145  남성   3     4     1     4   2   5    5      휴양, 자연경관, 액티비티
146  여성   4     5     4     5   2   4    4  휴양, 자연경관, 액티비티, 쇼핑
147  여성   4     4     3     3   4   4    3             휴양, 전시물
148  여성   5     3     4     1   4   2    5             휴양, 전시물

[149 rows x 9 columns]

In [9]:
import numpy as np

gender_data = df.loc[:, '성별']
want_data = df.loc[:, '경험']
#exp_data = df.loc[:, '경험']
personal_data = np.zeros(shape = (gender_data.size, 7))

for i in range(gender_data.size):
    for j in range(1, df.loc[i].size - 1):
        personal_data[i][j-1] = df.iloc[i][j]
personal_data /= 5

In [10]:
want_hot_vec = np.zeros(shape = (want_data.size, 7))
want_dic = {'휴양':0, '자연경관':1, '문화유산': 2, '액티비티':3, '쇼핑':4, '공연':5, '전시물':6}

for i, data in zip(range(want_data.size), want_data):
    cat = data.split(', ')
    for j in range(len(cat)):
        want_hot_vec[i][want_dic[cat[j]]] = 1

In [11]:
type(want_hot_vec[0])

numpy.ndarray

In [12]:
input_arr = []
for i in range(gender_data.size):
    input_arr.append(personal_data[i].copy())
    input_arr[i] = np.append(input_arr[i], 0 if gender_data[i] == '여성' else 1)

In [13]:
new_df = pd.DataFrame(columns = ['input_data', 'want_hot_vec'])
for i in range(gender_data.size):
    new_df.loc[i] = [input_arr[i], want_hot_vec[i]]

In [14]:
new_df.to_csv("./survey_norm.csv", index = False)