In [1]:
import json
import sys
import numpy as np
import pandas as pd

userdata = json.loads('{\"USER_CODE\":39,\"USER_TASTE\":\"0,22\"}')
postdata = json.loads('[{\"NOTICEBOARD_NUM\":8,\"LABELS\":null},{\"NOTICEBOARD_NUM\":9,\"LABELS\":null},{\"NOTICEBOARD_NUM\":10,\"LABELS\":null},{\"NOTICEBOARD_NUM\":11,\"LABELS\":\"1\"},{\"NOTICEBOARD_NUM\":12,\"LABELS\":null},{\"NOTICEBOARD_NUM\":13,\"LABELS\":null},{\"NOTICEBOARD_NUM\":14,\"LABELS\":null},{\"NOTICEBOARD_NUM\":15,\"LABELS\":null},{\"NOTICEBOARD_NUM\":16,\"LABELS\":\"1\"}]')

label_leng = 29
print(type(postdata))

post_df = pd.DataFrame(postdata)
print(post_df['NOTICEBOARD_NUM'])
post_df

<class 'list'>
0     8
1     9
2    10
3    11
4    12
5    13
6    14
7    15
8    16
Name: NOTICEBOARD_NUM, dtype: int64

   NOTICEBOARD_NUM LABELS
0                8   None
1                9   None
2               10   None
3               11      1
4               12   None
5               13   None
6               14   None
7               15   None
8               16      1

In [2]:
print(post_df.loc[0])
temp = np.zeros(label_leng)
if post_df.loc[0]["LABELS"] is not None:
    for ch in post_df.loc[0]["LABELS"].split(',') :
        temp[int(ch)-1] = 1
else :
    num_by_label = pd.DataFrame({post_df.loc[0]["NOTICEBOARD_NUM"] : temp})


for i in range(1, post_df.size):
    pass

NOTICEBOARD_NUM       8
LABELS             None
Name: 0, dtype: object

In [3]:
user_taste_row = np.zeros(29)
user_taste = userdata['USER_TASTE'].split(',')
user_taste = [int(taste) for taste in user_taste]

for i in user_taste:
    user_taste_row[i] = 1

user_taste_df = pd.DataFrame({userdata['USER_CODE'] : user_taste_row})
user_taste_df = user_taste_df.T
user_taste_df

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
39,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0